WebContent/wsdl/Sales.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://salesservice.ericbarber.me" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://salesservice.ericbarber.me" xmlns:intf="http://salesservice.ericbarber.me" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://salesservice.ericbarber.me" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getRandomItem">
    <complexType/>
   </element>
   <element name="getRandomItemResponse">
    <complexType>
     <sequence>
      <element name="getRandomItemReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSpecificItem">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSpecificItemResponse">
    <complexType>
     <sequence>
      <element name="getSpecificItemReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRandomItemRequest">

      <wsdl:part element="impl:getRandomItem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRandomItemResponse">

      <wsdl:part element="impl:getRandomItemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSpecificItemRequest">

      <wsdl:part element="impl:getSpecificItem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSpecificItemResponse">

      <wsdl:part element="impl:getSpecificItemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Sales">

      <wsdl:operation name="getRandomItem">

         <wsdl:input message="impl:getRandomItemRequest" name="getRandomItemRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRandomItemResponse" name="getRandomItemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSpecificItem">

         <wsdl:input message="impl:getSpecificItemRequest" name="getSpecificItemRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSpecificItemResponse" name="getSpecificItemResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SalesSoapBinding" type="impl:Sales">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRandomItem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRandomItemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRandomItemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSpecificItem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSpecificItemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSpecificItemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SalesService">

      <wsdl:port binding="impl:SalesSoapBinding" name="Sales">

         <wsdlsoap:address location="http://localhost:8083/Sale/services/Sales"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
